cloud_id                 = "asd"
folder_id                = "qwe"
zone                     = "ru-central1-a"
image_id                 = "zxc"
subnet_id                = "qaz"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
service_account_key_file = "terraform_key.json"
yabucket_key_id		 = "secretkeyLKJSAHFLKJSA"
yabucket_secret		 = "AnotherSecretKeyALSJDLASJD"
bucket_name              = "terraform-2"
